
 * {
    box-sizing: border-box;
  }
  
  /*
    The background color will be #ccc
    at browser widths above 768px
  */
  body {
    background-color: #fff
  }

  h1{
      float:left
  }

  .container {
    width: 1024px;
    margin: 0 auto;
    float:none
  }

@media (min-width: 768px)
.section {
    padding: 3rem 0;
}
 
  /*
    These rules take effect when the browser's width
    is either 768px or less.
  */
  @media (max-width: 767px) {
    {
      width: 600px;
      float:none
    }
  }

.grid{
    text-align: center;
    justify-content: center;
}

.grid-item{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

{
    float: center;
    min-height: 300px;
    margin-bottom: 30px;
    width: 319px;
    padding: 10px;
  }
   
  $grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 1024px
  );
  